
[submodule "misc/docs-hugo/themes/book"]
	path = misc/docs-hugo/themes/book
	url = https://github.com/alex-shpak/hugo-book
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "python/pybind11"]
	path = python/pybind11
	url = ../../pybind/pybind11
	branch = stable
[submodule "python/carma"]
	path = python/carma
	url = https://github.com/RUrlus/carma.git
