
[submodule "misc/docs-hugo/themes/book"]
	path = misc/docs-hugo/themes/book
	url = https://github.com/alex-shpak/hugo-book
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
